# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# VSCode / IDE
.vscode/
.idea/

# OS-specifikke filer
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Miljøfiler
.env
*.env
